<div class="card-header header"><h3>Mortgage</h3></div>
<div class="container align-items-center">
  <br />
  <div class="card">
    <div class="card-header">Mortgage Calculator</div>
    <div class="card-body">
      <form action="" [formGroup]="calculator">
        <div class="row">
          <div class="col">
            <label for="slider" class="form-label"
              >Purchase price: {{ PurchasePrice | currency }}</label
            >
            <div class="range">
              <div class="form-group range__slider">
                <input
                  formControlName="PurchasePrice"
                  type="range"
                  (change)="estimate()"
                  bgThumbColor="blueviolet"
                  class="form-range"
                  min="50000"
                  [(ngModel)]="PurchasePrice"
                  max="1000000"
                  step="1000"
                  id="customRange3"
                  (click)="loanAmount()"
                />
                <!-- <ngx-slider
                [(value)]="PurchasePrice"
                [options]="options"
                formControlName="PurchasePrice"
              ></ngx-slider> -->
              </div>
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('PurchasePrice').invalid &&
                calculator.get('PurchasePrice').touched
              "
            >
              Purchase Price is required
            </div>
          </div>
          <div class="col">
            <label for="customRange3" class="form-label"
              >Down payment: {{ DownPayment | currency }}</label
            >
            <div class="form-group range__slider">
              <input
                (change)="estimate()"
                (click)="loanAmount()"
                formControlName="DownPayment"
                type="range"
                class="form-range"
                min="0"
                [(ngModel)]="DownPayment"
                max="100000"
                step="1000"
                id="customRange3"
              />
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('DownPayment').invalid &&
                calculator.get('DownPayment').touched
              "
            >
              DownPayment is required
            </div>
          </div>
          <div class="col">
            <label for="customRange3" class="form-label"
              >Repayment time: {{ time }} years
            </label>
            <div class="form-group range__slider">
              <input
                [(ngModel)]="time"
                formControlName="time"
                type="range"
                class="form-range"
                min="0"
                max="36"
                step="1"
                id="customRange3"
                (click)="estimate()"
              />
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('time').invalid && calculator.get('time').touched
              "
            >
              Repayment time is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="customRange3" class="form-label"
              >Interest rate {{ ROI }}%</label
            >
            <div class="form-group range__slider">
              <input
                formControlName="ROI"
                type="range"
                class="form-range"
                min="5"
                max="30"
                step="0.5"
                id="customRange3"
                [(ngModel)]="ROI"
                (change)="estimate()"
              />
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('ROI').invalid && calculator.get('ROI').touched
              "
            >
              Rate of interest is required
            </div>
          </div>
          <div class="col">
            Loan amount <br />
            <input
              type="number"
              class="form-control-sm"
              style=" background-color:
            #e1ebf4;border:none;font-size:16px;font-weight:bold"
              formControlName="LoanAmount"
              value="{{ LoanAmount }}"
              (change)="estimate()"
            />
          </div>
          <div class="col">
            Estimated pr. month <br />
            <input
              style=" background-color: #e1ebf4;border:none;font-size:16px;font-weight:bold"
              type="number"
              class="form-control-sm"
              formControlName="EstimatedAmount"
              value="{{ EstimatedAmount }}"
            />
            <!--  -->
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <!-- <button
              class="btn"
              style="background-color:blueviolet;color:white"
              routerLink="/contact"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Get a mortgage quote
            </button> -->

            <!-- Button trigger modal -->
            <button
              type="button"
              style="background-color:blueviolet;color:white"
              class="btn"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="addquote()"
            >
              Get a mortgage quote
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" style="background-color:#e1ebf4">
                <div class="modal-content" style="background-color:#e1ebf4">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Get a mortgage quote
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body" style="background-color:#e1ebf4">
                    <app-contact></app-contact>
                  </div>
                  <div class="modal-footer"></div>
                  <!-- <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="btn btn-primary">
                      Save changes
                    </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Purchase Price</td>
        <td>Down Payment</td>
        <td>Loan Amount</td>
        <td>Repayment Time</td>
        <td>Interest Rate</td>
        <td>Estimated Amount (per month)</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData">
        <td>
          <span>{{ item.name }}</span>
        </td>
        <td>
          <span>{{ item.email }}</span>
        </td>
        <td>
          <span>{{ item.PurchasePrice }}</span>
        </td>
        <td>
          <span>{{ item.DownPayment }}</span>
        </td>
        <td>
          <span>{{ LoanAmount }}</span>
        </td>
        <td>
          <span>{{ item.time }}</span>
        </td>
        <td>
          <span>{{ item.ROI }}</span>
        </td>
        <td>
          <span>{{ EstimatedAmount }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
