<div class="card-header header"><h3>Mortgage</h3></div>
<div class="container align-items-center">
  <br />
  <div class="card">
    <div class="card-header">Mortgage Calculator</div>
    <div class="card-body">
      <form action="" [formGroup]="calculator">
        <div class="row">
          <div class="col">
            <label for="slider" class="form-label"
              >Purchase price: {{ PurchasePrice | currency }}</label
            >
            <div class="range">
              <input
                formControlName="PurchasePrice"
                type="range"
                bgThumbColor="blueviolet"
                class="form-range"
                min="50000"
                [(ngModel)]="PurchasePrice"
                max="1000000"
                step="1000"
                id="customRange3"
                (click)="loanAmount()"
              />
              <!-- <ngx-slider
                [(value)]="PurchasePrice"
                [options]="options"
                formControlName="PurchasePrice"
              ></ngx-slider> -->
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('PurchasePrice').invalid &&
                calculator.get('PurchasePrice').touched
              "
            >
              Purchase Price is required
            </div>
          </div>
          <div class="col">
            <label for="customRange3" class="form-label"
              >Down payment: {{ DownPayment | currency }}</label
            >
            <div class="range">
              <input
                (click)="loanAmount()"
                formControlName="DownPayment"
                type="range"
                class="form-range"
                min="0"
                [(ngModel)]="DownPayment"
                max="100000"
                step="1000"
                id="customRange3"
              />
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('DownPayment').invalid &&
                calculator.get('DownPayment').touched
              "
            >
              DownPayment is required
            </div>
          </div>
          <div class="col">
            <label for="customRange3" class="form-label"
              >Repayment time: {{ time }} years
            </label>
            <div class="range">
              <input
                [(ngModel)]="time"
                formControlName="time"
                type="range"
                class="form-range"
                min="0"
                max="36"
                step="1"
                id="customRange3"
                (click)="estimate()"
              />
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('time').invalid && calculator.get('time').touched
              "
            >
              Repayment time is required
            </div>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <label for="customRange3" class="form-label"
              >Interest rate {{ ROI }}%</label
            >
            <div class="range">
              <input
                formControlName="ROI"
                type="range"
                class="form-range"
                min="5"
                max="30"
                step="0.5"
                id="customRange3"
                [(ngModel)]="ROI"
                (click)="estimate()"
              />
            </div>
            <div
              class="error"
              *ngIf="
                calculator.get('ROI').invalid && calculator.get('ROI').touched
              "
            >
              Rate of interest is required
            </div>
          </div>
          <div class="col">
            Loan amount <br />
            <input
              [disabled]="true"
              type="number"
              class="form-control-sm"
              style=" background-color: #e1ebf4;border:none"
              formControlName="LoanAmount"
              value="{{ LoanAmount }}"
              (change)="estimate()"
            />
          </div>
          <div class="col">
            Estimated pr. month <br />
            <input
              style=" background-color: #e1ebf4;border:none;font-size:14px"
              type="number"
              class="form-control-sm"
              formControlName="EstimatedAmount"
              value="{{ EstimatedAmount }}"
            />
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col">
            <button
              class="btn"
              style="background-color:blueviolet;color:white"
              routerLink="/contact"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Get a mortgage quote
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <br />
</div>
<router-outlet></router-outlet>
