<div class="container">
  <div class="card">
    <div class="card-header">contact details</div>
    <form class="card-body" [formGroup]="form">
      <tr>
        <td><label for="username" class="form-control-lg">Name:</label></td>
        <td>
          <input
            type="text"
            id="username"
            class="form-control-sm"
            formControlName="username"
          />
        </td>
        <br />
      </tr>
      <tr>
        <td></td>
        <td>
          <div
            class="error"
            *ngIf="form.get('username').invalid && form.get('username').touched"
          >
            contact name is required!
          </div>
        </td>
      </tr>
      <tr>
        <td><label for="email" class="form-control-lg">Email</label></td>
        <td>
          <input
            type="email"
            id="email"
            class="form-control-sm"
            formControlName="email"
          />
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div
            class="error"
            *ngIf="form.get('email').invalid && form.get('email').touched"
          >
            contact email id is required!
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr>
        <br />
        <td>
          <button
            class="btn"
            style="background-color:blueviolet;color:white"
            (click)="addquote()"
          >
            Submit
          </button>
        </td>
      </tr>
      <div></div>
    </form>
  </div>
</div>
