<div class="container">
  <div class="card">
    <div class="card-header">contact details</div>
    <form class="card-body" [formGroup]="userForm">
      <tr>
        <td><label for="name" class="form-control-lg">Name:</label></td>
        <td>
          <input
            type="text"
            formControlName="name"
            id="name"
            class="formControl"
          />
        </td>
      </tr>
      <tr>
        <td><label for="email" class="form-control-lg">Email</label></td>
        <td>
          <input
            type="email"
            id="email"
            formControlName="email"
            class="formControl"
          />
        </td>
      </tr>
      <tr>
        <br />
        <td>
          <button class="btn" style="background-color:blueviolet;color:white">
            Submit
          </button>
        </td>
      </tr>
      <div></div>
    </form>
  </div>
</div>
