<div class="container">
  <div class="card">
    <form class="card-body">
      <div>
        <label for="name" class="name">Name:</label>
        <input type="text" id="name" class="formControl" />
      </div>
      <div>
        <label for="email" class="name">Email</label>
        <input type="email" id="email" class="formControl" />
      </div>
      <div>
        <button
          class="btn"
          style="background-color:blueviolet;color:white"
        ></button>
      </div>
    </form>
  </div>
</div>
